.navbar {
  background-color: #0056b3;
}

.nav-link {
  text-transform: uppercase !important;
  background-color: #fff !important;
  margin-left: 30px !important;
  border-radius: 20px !important;
}
.nav-link:hover {
  color: #0056b3 !important;
  font-weight: bold !important;
}

